# This file is part of the video-scrungler project
# at https://github.com/multiplealiases/video-scrungler

# Copyright (c) 2025 multiplealiases
# SPDX-License-Identifier: MIT

[Desktop Entry]
Type=Service
MimeType=video/*;
X-KDE-Submenu=Transcode video for web
Actions=transcode10M;transcode50M;transcode100M

[Desktop Action transcode10M]
Name=10 MB
Icon=tools-rip-video-dvd
Exec=video-scrungler 10 %f

[Desktop Action transcode50M]
Name=50 MB
Icon=tools-rip-video-dvd
Exec=video-scrungler 50 %f

[Desktop Action transcode100M]
Name=99 MB
Icon=tools-rip-video-dvd
Exec=video-scrungler 100 %f
